<div class="container py-4">
  <div class="row h-70">
    <div class="col-md">
      <div class="text-center">
        <%= cl_image_tag @hat.photo.key, class: "img-fluid" %>
      </div>
    </div>
    <div class="col-md mt-3">
      <h4>When do you want to rent this hat?</h4>
        <%= render "form" %>
    </div>
  </div>
</div>
