.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 16px;
}
.card-product h1 {
  margin: 0;
  color: #03588C;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-product > img {
  width: 100%;
  object-fit: cover;
}

.card-product h1 {
  text-align: center;
  padding: 32px;
}

.card-product p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}

.card-product .card-product-info {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #03588C;
}

.card-hat .card-hat-infos {
  padding: 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }

//   .card-product > img {
//     height: 400px;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767px){
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }
