<div class="container mt-5">
  <h1>Gnome Hats</h1>

<div class="row">
    <% @hats.each do |hat| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to hat_path(hat), class:"text-decoration-none" do %>
          <%# <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('/app/assets/images/22936D8A-11AA-4F97-A6B3-724007C1B933_1_201_a.jpeg') %>
            <%= hat.style %>
          <%# </div> %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
